.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 42px;
  line-height: 40px;
  border-radius: 21px;
  padding: 0 var(--spacing-m);
  background-color: var(--colour-interactive-background);
  border: 1px solid var(--colour-interactive-background);
  color: var(--colour-interactive);
  text-align: center;
  transition: background-color 0.3s,
    box-shadow 0.3s cubic-bezier(0.75, 0.5, 0.75, 2);
  cursor: pointer;
  font-size: var(--font-size-s);
  white-space: nowrap;
}

.button:hover {
  background-color: var(--colour-interactive-hover);
  border-color: var(--colour-interactive-hover);
  color: var(--colour-interactive);
}

.button:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--colour-interactive-hover);
  color: var(--colour-interactive);
}

/* Secondary */
.button.secondary {
  background-color: var(--colour-interactive-secondary-background);
  border-color: var(--colour-interactive-secondary-background);
  color: var(--colour-interactive-secondary);
}

.button.secondary:hover {
  background-color: var(--colour-interactive-secondary-hover);
  border-color: var(--colour-interactive-secondary-hover);
  color: var(--colour-interactive-secondary);
}

.button.secondary:focus {
  box-shadow: 0 0 0 2px var(--colour-interactive-secondary-hover);
  color: var(--colour-interactive-secondary);
}

/* Negative */
.button.negative {
  background-color: var(--colour-interactive-negative-background);
  border-color: var(--colour-interactive-negative-background);
  color: var(--colour-interactive-negative);
}

.button.negative:hover {
  background-color: var(--colour-interactive-negative-hover);
  border-color: var(--colour-interactive-negative-hover);
  color: var(--colour-interactive-negative);
}

.button.negative:focus {
  box-shadow: 0 0 0 2px var(--colour-interactive-negative-hover);
  color: var(--colour-interactive-negative);
}

/* Disabled */
.button:disabled,
.button:disabled:hover,
.button:disabled:focus {
  background-color: var(--colour-button-disabled);
  border-color: var(--colour-button-disabled);
  color: var(--colour-button-text-disabled);
  cursor: not-allowed;
  box-shadow: 0;
}

/* Sizes */
.button.small {
  height: 32px;
  line-height: 30px;
  padding: 0 var(--spacing-s);
}

.button.large {
  font-size: var(--font-size-m);
  padding: 0 var(--spacing-m);
  height: 52px;
  line-height: 50px;
  border-radius: 31px;
}

.button.stretch {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

/* Link */
.link {
  border-radius: var(--border-radius-s);
}

/* Inner */
.icon {
  margin: 10px 0;
}

.icon svg {
  display: block;
  width: 20px;
  height: 20px;
  color: currentColor;
}

.left.beside {
  padding-right: var(--spacing-xs);
}

.right.beside {
  padding-left: var(--spacing-xs);
}

.button.stretch .left {
  margin-right: auto;
}

.button.stretch .right {
  margin-left: auto;
}

/* Tray */
.tray {
  display: flex;
  flex-wrap: wrap;
  margin: calc(-1 * var(--spacing-xs)) 0;
}

.tray > * {
  margin: var(--spacing-xs) var(--spacing-s) var(--spacing-xs) 0;
}

.tray.right {
  flex-direction: row-reverse;
}

.tray.right > * {
  margin: var(--spacing-xs) 0 var(--spacing-xs) var(--spacing-s);
}
