.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: var(--spacing-l);
  padding: var(--spacing-l) 0;
}

@media (min-width: 720px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1280px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.product {
  display: block;
}

.product img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: var(--border-radius-l);
}

.name {
  margin-top: var(--spacing-s);
}

.price {
  margin-top: var(--spacing-xs);
  font-size: var(--font-size-s);
  color: var(--colour-text-secondary);
}
