.forgot {
  padding: var(--spacing-l) 0;
}

.forgot h2 {
  font-size: var(--font-size-l);
  line-height: var(--line-height-l);
  margin-bottom: var(--spacing-m);
}

.layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: var(--spacing-l);
}

@media (min-width: 600px) {
  .layout {
    grid-template-columns: 1fr minmax(150px, 50%);
  }
}

.block {
  margin-bottom: var(--spacing-m);
}
