:root {
  --max-width: 1100px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --spacing-xs: 5px;
  --spacing-s: 10px;
  --spacing-m: 20px;
  --spacing-l: 40px;
  --spacing-xl: 80px;

  --wrapper: 1400px;
  --gutter: 40px;

  --col: calc((var(--wrapper) - 3 * var(--gutter)) / 4);
  --col-2: calc(var(--col) * 2 + var(--gutter));
  --col-3: calc(var(--col) * 3 + 2 * var(--gutter));
  --col-4: calc(var(--col) * 4 + 3 * var(--gutter));

  --font-size-xs: 10px;
  --font-size-s: 14px;
  --font-size-m: 18px;
  --font-size-l: 24px;
  --font-size-xl: 30px;
  --font-size-xxl: 48px;

  --line-height-xs: 14px;
  --line-height-s: 18px;
  --line-height-m: 24px;
  --line-height-l: 30px;
  --line-height-xl: 48px;
  --line-height-xxl: 72px;

  --breakpoint-m: 720px;
  --breakpoint-l: 1400px;

  --border-radius-s: 4px;
  --border-radius-m: 8px;
  --border-radius-l: 12px;

  --colour-interactive-background: #1668dc;
  --colour-interactive: #ffffff;
}

/* TODO: Set up PostCSS mixin plugin to avoid having 2 sets of theme variables */

/* Themable */
:root {
  --colour-background: #f2f1ee;
  --colour-outline: #b5b4b0;
  --colour-text: #27272c;
  --colour-text-secondary: #757471;
  --colour-text-link: #27272c;
  --colour-brand: #a1cce6;

  --colour-input-background: #ffffff;
  --colour-input-border: #cccccc;
  --colour-button-text: #27272c;
  --colour-button-disabled: #dfdfdd;
  --colour-button-text-disabled: #bdbdbb;

  --colour-success: #f6ffed;
  --colour-success-border: #b7eb8f;

  --colour-info: #e6f4ff;
  --colour-info-border: #91caff;

  --colour-warning: #fffbe6;
  --colour-warning-border: #ffe58f;

  --colour-error: #fff2f0;
  --colour-error-border: #ffccc7;
}

html.light {
  --colour-background: #f2f1ee;
  --colour-outline: #b5b4b0;
  --colour-text: #27272c;
  --colour-text-secondary: #757471;
  --colour-text-link: #27272c;
  --colour-brand: #a1cce6;

  --colour-input-background: #ffffff;
  --colour-input-border: #cccccc;
  --colour-button-text: #27272c;
  --colour-button-disabled: #dfdfdd;
  --colour-button-text-disabled: #bdbdbb;

  --colour-success: #f6ffed;
  --colour-success-border: #b7eb8f;

  --colour-info: #e6f4ff;
  --colour-info-border: #91caff;

  --colour-warning: #fffbe6;
  --colour-warning-border: #ffe58f;

  --colour-error: #fff2f0;
  --colour-error-border: #ffccc7;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  :root {
    --colour-background: #212126;

    --colour-outline: #464651;
    --colour-text: #ffffff;
    --colour-text-secondary: #757471;
    --colour-text-link: #476fbb;
    --colour-brand: #476fbb;

    --colour-input-background: #000000;
    --colour-input-border: #464651;

    --colour-button-text: #ffffff;

    --colour-button-disabled: #36363c;
    --colour-button-text-disabled: #757471;

    --colour-success: #162312;
    --colour-success-border: #274916;

    --colour-info: #111a2c;
    --colour-info-border: #15325b;

    --colour-warning: #2b2111;
    --colour-warning-border: #594214;

    --colour-error: #2c1618;
    --colour-error-border: #5b2526;
  }
}

html.dark {
  --colour-background: #212126;

  --colour-outline: #464651;
  --colour-text: #ffffff;
  --colour-text-secondary: #ccc;
  --colour-text-link: #476fbb;
  --colour-brand: #476fbb;

  --colour-input-background: #000000;
  --colour-input-border: #464651;

  --colour-button-text: #ffffff;

  --colour-button-disabled: #36363c;
  --colour-button-text-disabled: #757471;

  --colour-success: #162312;
  --colour-success-border: #274916;

  --colour-info: #111a2c;
  --colour-info-border: #15325b;

  --colour-warning: #2b2111;
  --colour-warning-border: #594214;

  --colour-error: #2c1618;
  --colour-error-border: #5b2526;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: var(--colour-background);
  font-size: var(--font-size-m);
  line-height: 1.4;
  color: var(--colour-text);
}

a {
  color: inherit;
  text-decoration: none;
}
